.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 88px !important;
}

.status {
  font-size: 32px;
  color: #222;
  font-weight: 500;
}

.value {
  font-size: 64px;
  color: #222;
  font-weight: bold;
  padding-block: 16px;
}

.label {
  font-size: 26px;
  color: #555;
}
