.card {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  height: 140px;
  width: 140px;
}

.text {
  font-size: 28px;
  color: #6f5757;
  padding-right: 18px;
}
