.total {
  padding-top: 12px;
  padding-bottom: 4px;
  margin-top: 12px;
  text-align: end;
  border-top: 1px solid #eee;

  .label {
    font-size: 26px;
    color: #222;
    padding-right: 8px;
  }
}
