@import 'tailwindcss';

@theme {
  --color-bg-base: #f6f6f6;
  --height-tabbar: 60px;
  --height-goods-tool: 44px;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--color-bg-base);
}

.adm-nav-bar-back-arrow {
  font-size: 20px;
}

.adm-nav-bar-title {
  font-size: 16px;
}

.goods-tabs .adm-side-bar {
  position: sticky;
  top: 45px;
  z-index: 1;
  min-height: calc(100vh - 45px);
}

.goods-warehouse .adm-tabs-header {
  position: sticky;
  top: 45px;
  z-index: 1;
  background-color: white;
}
