@import 'tailwindcss';

@theme {
  --color-bg-base: #f6f6f6;
  --height-tabbar: 60px;
  --height-goods-tool: 44px;
}

body {
  background-color: var(--color-bg-base);
}

.adm-nav-bar-back-arrow {
  font-size: 20px;
}

.goods-tabs .adm-side-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: calc(100vh);
}

.easy-sort-category {
  --header-font-size: var(--adm-font-size-7);
  --prefix-width: 'auto';
  --prefix-padding-right: 12px;
  --align-items: center;
  --active-background-color: var(--adm-color-border);
  /* --border-inner: solid 1px var(--adm-color-border); */
  /* --border-top: solid 1px var(--adm-color-border); */
  /* --border-bottom: solid 1px var(--adm-color-border); */
  --padding-left: 12px;
  font-size: 17px;
}

.easy-sort-category .adm-swipe-action {
  width: 100%;
}
