.actionBar {
  width: 100%;
  height: var(--page-bottom);
}

.fixed {
  height: var(--page-bottom);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.04);
}

.static {
  width: 100%;
  height: var(--page-bottom);
}

.content {
  width: 100%;
  height: var(--tab-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}
