.navBar {
  width: 100%;
  height: var(--page-top);
}

.fixed {
  height: var(--page-top);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  align-items: flex-end;
}

.fixedBg {
  background-color: #f6f6f6;
  // border-bottom: 1px solid #eeeeee;
  // box-shadow: 0 0px 24px rgba(0, 0, 0, 0.04);
  height: var(--page-top);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.static {
  width: 100%;
  height: var(--page-top);
}

.content {
  width: 100%;
  height: var(--navigator-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.iconBtn {
  width: 58px;
  height: 58px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
  border: 1px solid #f2f2f2;
  padding-right: 2px;

  &:active {
    opacity: 0.6;
  }
}

.title {
  font-size: 28px;
  color: #222;
  font-weight: 500;
}
