.root {
  position: relative;
  margin-top: -120px;
  z-index: 1;
  padding-inline: 24px;
}

.title {
  font-size: 32px;
  color: #222;
  font-weight: 500;
  padding-top: 16px;
}

.subTitle {
  font-size: 24px;
  color: #999;
  padding-top: 8px;
  padding-bottom: 64px;
}

.button {
  margin-bottom: 32px;
}
