.tabBar {
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.04);
}

.content {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 32px;
}

.item {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;

  &:active {
    opacity: 0.4;
  }
}

.icon {
  &.active {
    animation: shakeFan 1s ease-in-out;
  }
}

.text {
  font-size: 22px;
  font-weight: 500;
  color: #876660;
  margin-top: 6px;
  padding: 1px 12px;
  border-radius: 12px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &.active {
    background-color: rgba($color: #876660, $alpha: 0.15);
  }
}


@keyframes shakeFan {
  0% {
    transform: rotateZ(0) scale(1);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotateZ(-12deg) scale(1.1);
  }

  20%,
  40%,
  60%,
  80% {
    transform: rotateZ(12deg) scale(1.1);
  }

  100% {
    transform: rotateZ(0) scale(1);
  }
}
