.card {
  grid-column: span 4;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 220px;
}

.swiperItem {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 64px;
}
