.root {
  background-color: #f6f6f6;
}

.content {
  padding: 16px 24px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-block: 8px;
  gap: 32px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 64px auto 32px;
  border-radius: 50%;
  border: 12px solid #fff;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.04);
}

.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
