.tabs {
  height: calc(100vh - var(--page-top) - var(--page-bottom));
  position: sticky;
  top: var(--page-top);
  width: 160px;
  flex-shrink: 0;
  background-color: #f6f6f6;
}

.item {
  height: 88px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 26px;

  position: relative;
  color: #222;
  transition: all 0.2s;

  &:first-child {
    .top {
      display: none;
    }
  }

  &.active {
    background-color: #fff;
    color: #876660;
    font-weight: 500;

    .icon {
      opacity: 1;
    }

    .line {
      opacity: 1;
    }
  }
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 32px;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #876660;
  opacity: 0;
  transition: all 0.2s;
}

.icon {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: all 0.2s;

  &.top {
    top: -12px;
  }

  &.bottom {
    bottom: -12px;
  }
}
