.price {
  color: #222;

  .prefix {
    font-size: 26px;
    font-weight: bold;
    margin-right: 2px;
  }

  .value {
    font-weight: bold;
  }

  // &.xs {
  //   .prefix {
  //     font-size: 26px;
  //     margin-right: 2px;
  //   }

  //   .value {
  //     font-size: 32px;
  //   }
  // }


  &.sm {

    .value {
      font-size: 26px;
    }
  }

  &.md {
    .prefix {
      margin-right: 4px;
    }

    .value {
      font-size: 32px;
    }
  }

  &.lg {
    .prefix {
      margin-right: 4px;
    }

    .value {
      font-size: 40px;
    }

  }

  &.primary {
    .prefix {
      color: var(--theme-color);
    }

    .value {
      color: var(--theme-color);
    }
  }
}
