.item {
  padding-block: 8px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.desc {
  font-size: 24px;
  color: #666;
  padding-top: 4px;
}

.name {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 6px;
}

.price {
  display: flex;
  align-items: flex-end;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.shop {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 26px;
  color: #222;
  font-weight: 500;
}

.status {
  font-size: 26px;
  color: #222;
}

.footer {
  text-align: right;
  padding-top: 8px;
  font-size: 26px;
}
