.banner {
  width: 100%;
  position: relative;
  height: calc(var(--page-top) + 200px);
  overflow: hidden;
}

.image {
  width: 100%;
  height: calc(var(--page-top) + 200px);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--page-top);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  z-index: 3;
}

.bottomMask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  z-index: 1;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--page-top);
  padding-bottom: var(--navigator-bottom);
  z-index: 2;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  box-shadow: 0 0px 48px rgba(0, 0, 0, 0.08);
  opacity: 0;
}

.navBarTitle {
  width: 100%;
  height: var(--navigator-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #6f5757;
  font-weight: 500;
}
