.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.label {
  font-size: 26px;
  color: #222;
  font-weight: 500;
  padding-left: 16px;
}

.input {
  font-size: 26px;
  color: #222;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  border-radius: 22px;
  padding: 16px;
  width: 60vw;
}
