.root {
  display: flex;
  align-items: center;
}

.item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--theme-color);
  border-radius: 12px;
  transition: all 0.1s;

  &:active {
    opacity: 0.6;
  }
}

.decrease {
  background-image: #fff;
}

.input {
  width: 68px;
  font-size: 28px;
  text-align: center;
  color: #222;
}

.increase {
  background-color: var(--theme-color);
}
