.root {
  font-size: 0;
}

.close {
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;

  &:active {
    opacity: 0.6;
  }
}

.image {
  width: 100vw;
  height: 100vw;
}


.content {
  padding: 16px 24px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: #222;
}

.subTitle {
  font-size: 26px;
  color: #555;
  padding-top: 8px;
}

.price {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin-top: 32px;
}
