.button {
  border-radius: 2em;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  border: none;
  transition: all 0.1s;
  font-size: 26px;
  margin: 0;
  border: 1px solid transparent;

  &::after {
    display: none;
  }

  &.default {
    border-color: #f4f4f4;
    background-color: #f4f4f4;
    color: #444;
  }

  &.primary {
    border-color: var(--theme-color);
    background-color: var(--theme-color);
    color: #fff;
  }

  &.outline {
    border-color: var(--theme-color);
    background-color: transparent;
    color: var(--theme-color);
  }


  &.sm {
    display: inline-block;
    font-weight: initial;
    font-size: 24px;
    padding-block: 8px;
    padding-inline: 24px;
    color: #f5f5f5;
  }

  &.md {
    display: inline-block;
    padding-block: 22px;
    padding-inline: 48px;
  }

  &.lg {
    width: 100%;
    padding-block: 28px;
  }

  &:active {
    opacity: 0.6;
  }
}
