.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.item {
  font-size: 28px;
  color: #555;
  padding-block: 12px;
  position: relative;

  .line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 6px;
    border-radius: 2em;
    background-color: var(--theme-color);

    width: 0;
    transition: all 0.3s;
    opacity: 0;
  }


  &.active {
    color: var(--theme-color);
    font-weight: 500;

    .line {
      opacity: 1;
      width: 32px;
    }
  }
}
