.card {
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 1);
  padding-block: 24px;
  padding-inline: 24px;
  border: 1px solid #eeeeee;

  &.md {
    border: none;
    border-radius: 20px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.03);
    padding-block: 16px;
  }

  &.lg {
    border-radius: 64px;
    box-shadow: 0 0px 48px rgba(0, 0, 0, 0.08);
  }


  &.hasActive {
    transition: all 0.1s;

    &:active {
      opacity: 0.4;
    }
  }

}
