.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  height: 100vh;
  padding-top: 80px;
}

.image {
  width: 50vw;
  height: 50vh;
}

.title {
  font-size: 32px;
  color: var(--theme-color);
  font-weight: 500;
}

.subTitle {
  font-size: 26px;
  color: #666;
  padding-top: 8px;
  padding-bottom: 24px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
