.categoryShop {
  position: relative;
  margin-top: -120px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  padding-block: 16px;
}

.card {
  display: flex;
  justify-content: space-between;
  // border-radius: 32px;
  padding: 44px;
}



.left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: #222;
}

.distance {
  font-size: 24px;
  color: #999;
}


.segmented {
  background-color: #f5f5f5;
  border-radius: 2em;
  padding: 6px;
}

.items {
  display: flex;
  align-items: center;
  width: 170px;
  position: relative;
}


.item {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: relative;
  z-index: 1;
  color: #888;
  transition: all 0.3s;


  &.active {
    color: #222;
    font-weight: 500;
  }
}


.activeBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 2em;
  z-index: 0;
  transition: all 0.3s;
  box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
}
