.cell {
  width: 100%;
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.hasActive {
    transition: all 0.1s;

    &:active {
      opacity: 0.4;
    }
  }

}


.label {
  font-size: 26px;
  color: #222;
}

.value {
  font-size: 26px;
  color: #777;
}
