.goods {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(var(--page-bottom) + 16px);
  padding-top: 16px;
  padding-inline: 24px;
}

.item {
  padding-block: 12px;
  display: flex;
  gap: 16px;
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f6f6f6;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc {
  width: calc(100vw - 160px - 24px - 160px - 16px - 24px);
  font-size: 24px;
  color: #666;
  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  font-size: 28px;
  font-weight: 500;
}

.top {}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
